html{
    background-color: #fbfbfb;
}

body {
    background-color: #08222e;
    padding-bottom: 100%;
    margin: 0;
    color: #fbfbfb;
}

#all{
    background-color: #1B3642;
    width: 20rem;
    margin: 0 auto;
    margin-top: 1em;
    padding: 4rem;
}

#main {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#timer {
    display: flex;
    justify-content: center;
    font-size: 4em;
    margin-top: 1rem;
    color: #b7daeb;
}

#SettingsLogin {
    display: flex;
    justify-content: center;
    flex-direction: row;
    font-size: 1.25em;
    align-items: center;
    padding: 1%;
}

#settings {
    background-color: #C4B480;
    margin: 0 auto;
    border-radius: 10%;
    padding: .25rem;  
}

#login { 
    background-color: #C4B480;
    margin: 0 auto;
    border-radius: 10%;
    padding: .25rem;
}

#StartReset {
    display: flex;
    justify-content: center;
    flex-direction: row;
    font-size: 2em;
    padding: 1%;
    align-items: center;
}

/* #start {
    background-color: #fbfbfb;
    color: #2b2b2b;
    margin: 0 auto;
    padding: .25rem;  
    border-radius: 10%;
} */
#mixBut {
    background-color: #fbfbfb;
    color: #2b2b2b;
    margin: 0 auto;
    padding: .25rem;  
    /* border-radius: 10%; */
}

/* #reset {
    background-color: #ff671d;
    margin: 0 auto;
    padding: .25rem;  
    border-radius: 10%;
} */
#reset-btn {
    background-color: #ff671d;
    margin: 0 auto;
    padding: .25rem;  
    /* border-radius: 10%; */
}

#task-container {
    background-color: #b8daeb;
    align-items: center;
    color: #07232e;
    text-align: center;
}

#tasks {
    background-color: #fbfbfb;
    color: #2b2b2b;
}